<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="test.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jomolhari&family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="frame">
    <div class="div">
      <div class="overlap">
        <div class="text-wrapper">Undangan Pernikahan</div>
        <div class="diaz-gita">Diaz &amp; Gita</div>
        <img class="line" src="img/line-2.svg" />
        <p class="p">10 . 11 . 2022</p>
        <div class="text-wrapper-2">Buka Undangan</div>
      </div>
      <div class="overlap-group">
        <img class="element" src="img/111.png" />
        <a href=""><div class="text-wrapper-3">Couple</div></a>
        <a href=""><div class="text-wrapper-4">Galleries</div></a>
        <div class="text-wrapper-5">Date</div>
        <div class="text-wrapper-6">Location</div>
        <div class="text-wrapper-7">Wishes</div>
        <div class="text-wrapper-8">Diaz</div>
        <div class="text-wrapper-9">&amp;</div>
        <div class="text-wrapper-10">Gita</div>
        <p class="the-man-dreams-of-a">
          &#34;The man dreams of a perfect woman and the woman dreams of a perfect man and they don&#39;t know that
          Allah created them to perfect one another.&#34; -Ahmad Al Shugairi
        </p>
        <img class="img" src="img/line-1.svg" />
        <div class="rectangle"></div>
        <div class="text-wrapper-12">The Groom</div>
        <img class="rectangle-2" src="" />
        <img
          class="simple-rustic"
          src="img/1314.png"
        />
        <img class="rectangle-3" src="img/ggg.png" />
        <div class="text-wrapper-11">The Bride</div>
        <p class="gita-s-e-PUTRI">
          Gita S.E<br /><br />PUTRI BUNGSU DARI:<br /><br />Bapak Sanusi S.M dan<br /><br />Ibu Jubaedah<br /><br />dari
          london utara<br /><br />@gita
        </p>
       
        <p class="diaz-s-pd-PUTRA">
          Diaz S.Pd<br /><br />PUTRA PERTAMA DARI:<br /><br />Bapak Akbar S.kom dan<br /><br />Ibu Siti maimunah<br /><br />dari
          jakarta, Indonesia<br /><br />@diaz
        </p>
        <img class="download" src="img/ggg.png" />
      </div>
      <div class="overlap-2">
        <img class="element-2" src="img/131.png" />
        <div class="text-wrapper-13">Our Love Story</div>
        <div class="text-wrapper-14">2015</div>
        <div class="text-wrapper-15">First time we meet</div>
        <img class="element-3" src="img/81.png" />
        <div class="text-wrapper-16">2016</div>
        <p class="text-wrapper-17">we have a relationship together</p>
        <img class="element-4" src="img/31.png" />
        <img class="element-5" src="img/111.png" />
        <p class="text-wrapper-18">We decided to get engaged</p>
        <div class="text-wrapper-19">2020</div>
        <div class="text-wrapper-20">2022</div>
        <p class="text-wrapper-21">Finally, we are husband and wife</p>
      </div>
      <div class="overlap-3">
        <img class="element-6" src="img/91.png" />
        <div class="text-wrapper-22">Precious Moment For Us</div>
        <img class="element-7" src="img/71.png" />
        <img class="element-8" src="img/101.png" />
        <img class="element-9" src="img/161.png" />
        <p class="menciptakan-kenangan">
          &#34;Menciptakan kenangan adalah hadiah yang tak ternilai harganya. Kenangan akan bertahan seumur hidup;
          benda-benda hanya dalam waktu singkat.&#34;
        </p>
      </div>
      <div class="overlap-4">
        <div class="text-wrapper-23">Save the Date</div>
        <div class="text-wrapper-24">178</div>
        <div class="overlap-5">
          <div class="text-wrapper-25">21</div>
          <div class="text-wrapper-26">Hour</div>
        </div>
        <div class="text-wrapper-27">43</div>
        <div class="text-wrapper-28">00</div>
        <div class="text-wrapper-29">Days</div>
        <div class="text-wrapper-30">Minutes</div>
        <div class="text-wrapper-31">Second</div>
        <img class="line-3" src="img/line-3.svg" />
        <div class="overlap-6">
          <div class="text-wrapper-32">Konfirmasi Kehadiran</div>
          <label for="" class="text-wrapper-33">nama lengkap</label>
          <!-- <div class="">Nama Lengkap</div> -->
          <input type="text" class="line-3">
          <!-- <img class="line-3" src="img/line-4.svg" /> -->
          <div class="text-wrapper-34">Konfirmasi Kehadiran</div>
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
          <div class="text-wrapper-35">Iya, saya akan datang</div>
          <div class="text-wrapper-36">Maaf, sepertinya tidak bisa</div>
          <p class="text-wrapper-37">Mohon para tamu untuk mengisi formulir diatas</p>
          <div class="div-wrapper"><div class="text-wrapper-38">KIRIM RESPON</div></div>
        </div>
        <p class="akad-nikah-JUMAT">
          Akad Nikah<br />JUMAT, 28 APRIL 2023<br />PUKUL 09:00 WIB - SELESAI<br />Plataran Menteng, Jalan HOS.
          Cokroaminoto, RT.6/RW.4, Gondangdia, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta, Indonesia<br /><br />Resepsi<br />JUMAT,
          28 APRIL 2023<br />PUKUL 15:00 WIB - SELESAI<br />DoubleTree by Hilton Jakarta - Diponegoro Jakarta Pusat<br /><br />Unduh
          Mantu<br />JUMAT, 28 APRIL 2023<br />PUKUL 09:00 WIB - SELESAI<br />Plataran Menteng, Jalan HOS.
          Cokroaminoto, RT.6/RW.4, Gondangdia, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta, Indonesia
        </p>
      </div>
      <!-- <div class="overlap-group-2">
        <label for="">>Words and Prayers</label>
        <input type="text" class="underline_input">
        <div class="text-wrapper-39">Words and Prayers</div>
        <div class="text-wrapper-40">Nama Lengkap</div>
        <div class="text-wrapper-41">Alamat</div>
        <img class="line-4" src="img/line-6.svg" />
        <img class="line-5" src="img/line-8.svg" />
        <img class="line-6" src="img/line-7.svg" />
        <div class="text-wrapper-42">Doa dari saudara</div>
        <div class="overlap-7"><div class="text-wrapper-43">KIRIM SEKARANG</div></div>
      </div> -->
      <img class="element-10" src="img/121.png" />
      <p class="merupakan-suatu">
        Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila, Bapak / Ibu / Saudara / i. berkenan hadir untuk
        memberikan do&#39;a restunya kami ucapkan terimakasih.
      </p>
    </div>
  </div>
</body>
</html>
