*{
    margin: 0;
    padding: 0;
}
.section-1{
    background-size: cover;
    width: 100%;
    background-image: url("../img/221.png");
    height: 900px;
}

 /* .frame {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  } */
  
 .div {
    background-color: #ffffff;
   background-repeat: no-repeat;
    width: 100%;
    height: 11994px;
    background-image: url("../img/221.png");
    position: relative;
  }
  
  p .font{
    font-family: "Island Moments-Regular", Helvetica;
    position: fixed;
  width: 260px;
  top: 0;
  left: 0;
  font-family: "Island Moments-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  }

  .underline-input {
    color: #F7D6D4;
    text-decoration: none;
    border: none; /* Menghapus garis bawa default */
    border-bottom: 1px solid #F7D6D4; /* Menambahkan garis bawah dengan warna hitam */
    outline: none; /* Menghapus efek focus bawa default */
}

 /* .overlap {
    position: absolute;
    width: 1440px;
    height: 988px;
    top: 0;
    left: 0;
    background-image: url(./img/22-1.png);
    background-size: cover;
    background-position: 50% 50%;
  } */
  
 /* .text-wrapper {
    position: absolute;
    width: 656px;
    top: 139px;
    left: 371px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .diaz-gita {
    position: absolute;
    width: 260px;
    top: 691px;
    left: 626px;
    font-family: "Island Moments-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
 .line {
    width: 632px;
    height: 5px;
    top: 766px;
    left: 442px;
    position: absolute;
    object-fit: cover;
  }
  
 .p {
    position: absolute;
    width: 178px;
    top: 801px;
    left: 676px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-2 {
    position: absolute;
    width: 247px;
    top: 874px;
    left: 632px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .overlap-group {
    position: absolute;
    width: 1440px;
    height: 2761px;
    top: 988px;
    left: 0;
  }
  
 .element {
    position: absolute;
    width: 1440px;
    height: 1066px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
 .text-wrapper-3 {
    position: absolute;
    width: 116px;
    top: 67px;
    left: 732px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-4 {
    position: absolute;
    width: 109px;
    top: 67px;
    left: 886px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-5 {
    position: absolute;
    width: 82px;
    top: 66px;
    left: 1033px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-6 {
    position: absolute;
    width: 111px;
    top: 66px;
    left: 1153px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-7 {
    position: absolute;
    width: 102px;
    top: 66px;
    left: 1302px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-8 {
    width: 237px;
    top: 681px;
    left: 65px;
    font-family: "Island Moments-Regular", Helvetica;
    font-size: 128px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-9 {
    position: absolute;
    width: 44px;
    top: 681px;
    left: 302px;
    font-family: "Island Moments-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 128px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
 .text-wrapper-10 {
    position: absolute;
    width: 181px;
    top: 681px;
    left: 400px;
    font-family: "Island Moments-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 128px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
 .the-man-dreams-of-a {
    position: absolute;
    width: 836px;
    top: 817px;
    left: 73px;
    font-family: "Island Moments-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .img {
    width: 831px;
    height: 6px;
    top: 772px;
    left: 609px;
    position: absolute;
    object-fit: cover;
  }
  
 .rectangle {
    position: absolute;
    width: 1440px;
    height: 1722px;
    top: 1039px;
    left: 0;
    background-color: #000000;
  }
  
 .rectangle-2 {
    position: absolute;
    width: 414px;
    height: 634px;
    top: 1900px;
    left: 921px;
  }
  
 .simple-rustic {
    position: absolute;
    width: 408px;
    height: 612px;
    top: 1966px;
    left: 815px;
    object-fit: cover;
  }
  
 .rectangle-3 {
    position: absolute;
    width: 414px;
    height: 634px;
    top: 1142px;
    left: 176px;
  }
  
 .text-wrapper-11 {
    top: 1150px;
    left: 287px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .gita-s-e-PUTRI {
    position: absolute;
    width: 300px;
    top: 1282px;
    left: 703px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-12 {
    top: 1900px;
    left: 1019px;
    text-align: center;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .diaz-s-pd-PUTRA {
    width: 252px;
    top: 2080px;
    left: 419px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-size: 20px;
    text-align: center;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .download {
    position: absolute;
    width: 408px;
    height: 612px;
    top: 1228px;
    left: 120px;
    object-fit: cover;
  }
  
 .overlap-2 {
    position: absolute;
    width: 1440px;
    height: 1649px;
    top: 3749px;
    left: 0;
    background-color: #7d7c7c;
  }
  
 .element-2 {
    position: absolute;
    width: 475px;
    height: 313px;
    top: 358px;
    left: 86px;
    object-fit: cover;
  }
  
 .text-wrapper-13 {
    position: absolute;
    top: 98px;
    left: 495px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-14 {
    position: absolute;
    top: 712px;
    left: 289px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-15 {
    position: absolute;
    top: 785px;
    left: 190px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .element-3 {
    position: absolute;
    width: 469px;
    height: 313px;
    top: 358px;
    left: 867px;
    object-fit: cover;
  }
  
 .text-wrapper-16 {
    top: 712px;
    left: 1092px;
    font-size: 32px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-17 {
    position: absolute;
    top: 785px;
    left: 904px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .element-4 {
    position: absolute;
    width: 469px;
    height: 313px;
    top: 1011px;
    left: 867px;
    object-fit: cover;
  }
  
 .element-5 {
    position: absolute;
    width: 469px;
    height: 313px;
    top: 1011px;
    left: 92px;
    object-fit: cover;
  }
  
 .text-wrapper-18 {
    position: absolute;
    top: 1460px;
    left: 132px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-19 {
    top: 1366px;
    left: 288px;
    font-size: 32px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-20 {
    top: 1366px;
    left: 1066px;
    font-size: 32px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-21 {
    position: absolute;
    top: 1460px;
    left: 859px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 1742px;
    top: 5398px;
    left: 0;
    background-color: #b4b4b3;
  }
  
 .element-6 {
    position: absolute;
    width: 297px;
    height: 371px;
    top: 1074px;
    left: 131px;
    object-fit: cover;
  }
  
 .text-wrapper-22 {
    position: absolute;
    width: 768px;
    top: 136px;
    left: 361px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .element-7 {
    position: absolute;
    width: 749px;
    height: 500px;
    top: 436px;
    left: 131px;
    object-fit: cover;
  }
  
 .element-8 {
    position: absolute;
    width: 247px;
    height: 371px;
    top: 1074px;
    left: 494px;
    object-fit: cover;
  }
  
 .element-9 {
    position: absolute;
    width: 556px;
    height: 371px;
    top: 1074px;
    left: 807px;
    object-fit: cover;
  }
  
 .menciptakan-kenangan {
    position: absolute;
    width: 443px;
    top: 542px;
    left: 940px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .overlap-4 {
    position: absolute;
    width: 1440px;
    height: 2205px;
    top: 7140px;
    left: 0;
    background-color: #f1efef;
  }
  
 .text-wrapper-23 {
    position: absolute;
    top: 148px;
    left: 520px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-24 {
    height: 154px;
    top: 440px;
    left: 89px;
    font-size: 96px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .overlap-5 {
    position: absolute;
    width: 150px;
    height: 154px;
    top: 440px;
    left: 478px;
  }
  
 .text-wrapper-25 {
    height: 154px;
    top: 0;
    left: 0;
    font-size: 96px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-26 {
    position: absolute;
    height: 38px;
    top: 58px;
    left: 94px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-27 {
    height: 154px;
    top: 440px;
    left: 814px;
    font-size: 96px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-28 {
    height: 154px;
    top: 440px;
    left: 1150px;
    font-size: 96px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-29 {
    position: absolute;
    width: 55px;
    height: 38px;
    top: 498px;
    left: 250px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-30 {
    position: absolute;
    height: 38px;
    top: 498px;
    left: 922px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-31 {
    position: absolute;
    height: 38px;
    top: 498px;
    left: 1271px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .line-2 {
    width: 387px;
    height: 1px;
    top: 627px;
    left: 520px;
    position: absolute;
    object-fit: cover;
  }
  
 .overlap-6 {
    position: absolute;
    width: 592px;
    height: 1110px;
    top: 795px;
    left: 76px;
    background-color: #d9d9d9;
  }
  
 .text-wrapper-32 {
    position: absolute;
    top: 33px;
    left: 119px;
    font-family: "Imperial Script-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-33 {
    position: absolute;
    top: 229px;
    left: 53px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .line-3 {
    width: 395px;
    height: 3px;
    top: 278px;
    left: 53px;
    position: absolute;
    object-fit: cover;
  }
  
 .text-wrapper-34 {
    position: absolute;
    width: 201px;
    top: 320px;
    left: 53px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .ellipse {
    height: 26px;
    top: 390px;
    left: 57px;
    border-radius: 12.5px/13px;
    position: absolute;
    width: 25px;
    background-color: #ffffff;
  }
  
 .ellipse-2 {
    height: 25px;
    top: 433px;
    left: 53px;
    border-radius: 12.5px;
    position: absolute;
    width: 25px;
    background-color: #ffffff;
  }
  
 .text-wrapper-35 {
    position: absolute;
    width: 193px;
    top: 388px;
    left: 99px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-36 {
    position: absolute;
    width: 243px;
    top: 427px;
    left: 95px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-37 {
    position: absolute;
    top: 645px;
    left: 53px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .div-wrapper {
    position: absolute;
    width: 243px;
    height: 74px;
    top: 518px;
    left: 57px;
    background-color: #7d7c7c;
  }
  
 .text-wrapper-38 {
    width: 158px;
    top: 20px;
    left: 44px;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .akad-nikah-JUMAT {
    position: absolute;
    width: 624px;
    top: 789px;
    left: 744px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .overlap-group-2 {
    position: absolute;
    width: 1440px;
    height: 1752px;
    top: 9345px;
    left: 0;
    background-color: #7d7c7c;
  }
  
 .text-wrapper-39 {
    position: absolute;
    top: 145px;
    left: 441px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-40 {
    position: absolute;
    top: 506px;
    left: 119px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .text-wrapper-41 {
    position: absolute;
    width: 105px;
    top: 679px;
    left: 119px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .line-4 {
    width: 967px;
    height: 1px;
    top: 781px;
    left: 119px;
    position: absolute;
    object-fit: cover;
  }
  
 .line-5 {
    width: 967px;
    height: 1px;
    top: 618px;
    left: 119px;
    position: absolute;
    object-fit: cover;
  }
  
 .line-6 {
    width: 967px;
    height: 1px;
    top: 1005px;
    left: 119px;
    position: absolute;
    object-fit: cover;
  }
  
 .text-wrapper-42 {
    position: absolute;
    top: 875px;
    left: 119px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .overlap-7 {
    position: absolute;
    width: 444px;
    height: 160px;
    top: 1128px;
    left: 119px;
    background-color: #d9d9d9;
  }
  
 .text-wrapper-43 {
    top: 53px;
    left: 68px;
    color: #000000;
    font-size: 32px;
    position: absolute;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .element-10 {
    position: absolute;
    width: 659px;
    height: 440px;
    top: 11328px;
    left: 36px;
    object-fit: cover;
  }
  
 .merupakan-suatu {
    position: absolute;
    width: 695px;
    top: 11490px;
    left: 745px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
   */