main .h2{
  font-family: 'Jomolhari', serif;
  margin-bottom: 25rem;
  }
  .fontnyaJomolhari{
    font-family: 'Jomolhari', serif;
  }
 
  .foto1{
    background-image: url("../img/221.png");
    min-height: 112vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .padding-1{
    padding-top: 30rem;
  }

 .section_3{
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
  }

  .foto2{
    background-image: url("../img/111.png");
    min-height: 112vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  main .fontnyaIsland{
    font-family: 'Island Moments', cursive;
    font-size: 64px;
    font-weight: bold;
    color: white;
  }
  .fontnyaIsland{
    font-family: 'Island Moments', cursive;
  }

  .frame-foto{
    background-color: #D9D9D9;
    width: 280px;
    height: 364px;
    left: 90px;
    position: relative;
  }

  .ggg{
    width: 262px;
  height: 400x;
  margin-left: -35px;
  margin-top: 0;
  height: 339px;
  }

  .hero-tanggal{
    font-weight: 400;
    font-size: 24px;
  }
  
  .bio-wanita {
    text-align: center;
    margin-left: 298px;
    display: grid;
    width: max-content;

  }

 .gita-s-e-PUTRI {
  width: 300px;
  font-family: "Jomolhari&family";
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 0 560px;
  margin-top: -355px;
  }

  .foto4{
    background-color:  #7D7C7C;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .section_5{
    background-color:  #B4B4B3;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1200px;
   
  }

  .MenciptakanKenangan{
    margin-top: 20%;
  }
  

  .section_6{
    background-color: #F1EFEF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 1100px; */
    height: 1000px;
    
  }

  .fontnyaImperial{
    font-family: 'Imperial Script', cursive;
   
  }

  .bg-section6{
    background-color: #D9D9D9;
    width: 500px;
    align-items: start;
    height: max-content;
  }

  .underline-input{
    border: none;
    border-bottom: 1px solid #ccc; /* Adjust the color as needed */
    border-radius: 0;
  }

  .AkadNikah{

    font-size: 20px;
   
  }


  .section_7{
    background: #FFF;
    height: 500px;
    
  }

  .last-page{
   padding-top: 25px;
   margin-left: 250px;
  }

  @media (max-width: 573px) {
    html{
      font-size: 30%;
      background-size: cover;
    }
    
  }